#blog h2, h4{
    text-align: center;
}
#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}

#blog article{
    margin:15px;
  

    border: 2px solid rgba(10, 10, 10, .3); ;

   
}

#blog img{
    width: 100%;
    max-width: 280px;
    padding: 3px;

}
@media (min-width:640px){
    #blog img{
        height: 200px;
    }
}
